@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
    border: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
